modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34563
externalPort = 5173

[[ports]]
localPort = 38983
externalPort = 8000

[[ports]]
localPort = 40193
externalPort = 4200

[[ports]]
localPort = 40975
externalPort = 8080

[[ports]]
localPort = 41069
externalPort = 3001

[[ports]]
localPort = 42145
externalPort = 8081

[[ports]]
localPort = 42523
externalPort = 3000

[[ports]]
localPort = 43931
externalPort = 8008

[[ports]]
localPort = 44143
externalPort = 3003

[[ports]]
localPort = 44295
externalPort = 6800

[[ports]]
localPort = 44539
externalPort = 8099

[[ports]]
localPort = 44639
externalPort = 6000

[[ports]]
localPort = 45661
externalPort = 5000

[[ports]]
localPort = 46825
externalPort = 3002

[deployment]
deploymentTarget = "vm"
build = ["npm", "run", "build"]
run = ["npm", "start"]
